# NFL Weekly Games

In [1]:
import warnings
warnings.filterwarnings('ignore')

Getting a years schedule

In [2]:
import nfl_data_py as nfl
import pandas as pd


def make_yearly_schedule(year):
    """
    Function returns a dataframe containing the provided years NFL schedule
    :param year: year of schedule desired
    :return: Pandas Dataframe
    """
    yearly_schedule_2022_df = nfl.import_schedules([2022])
    yearly_schedule_2022_df["gameday"] = pd.to_datetime(yearly_schedule_2022_df["gameday"]).dt.date
    return yearly_schedule_2022_df

In [3]:
yearly_schedule_2022_df = make_yearly_schedule(2022)
yearly_schedule_2022_df.tail()

,game_id,season,game_type,week,gameday,weekday,gametime,away_team,away_score,home_team,...,wind,away_qb_id,home_qb_id,away_qb_name,home_qb_name,away_coach,home_coach,referee,stadium_id,stadium
6404,2022_18_NYG_PHI,2022,REG,18,2023-01-08,Sunday,13:00,NYG,NaN,PHI,...,NaN,NaN,NaN,NaN,NaN,Brian Daboll,Nick Sirianni,NaN,PHI00,Lincoln Financial Field
6405,2022_18_CLE_PIT,2022,REG,18,2023-01-08,Sunday,13:00,CLE,NaN,PIT,...,NaN,NaN,NaN,NaN,NaN,Kevin Stefanski,Mike Tomlin,NaN,PIT00,Acrisure Stadium
6406,2022_18_LA_SEA,2022,REG,18,2023-01-08,Sunday,13:00,LA,NaN,SEA,...,NaN,NaN,NaN,NaN,NaN,Sean McVay,Pete Carroll,NaN,SEA00,Lumen Field
6407,2022_18_ARI_SF,2022,REG,18,2023-01-08,Sunday,13:00,ARI,NaN,SF,...,NaN,NaN,NaN,NaN,NaN,Kliff Kingsbury,Kyle Shanahan,NaN,SFO01,Levi's Stadium
6408,2022_18_DAL_WAS,2022,REG,18,2023-01-08,Sunday,13:00,DAL,NaN,WAS,...,NaN,NaN,NaN,NaN,NaN,Mike McCarthy,Ron Rivera,NaN,WAS00,FedExField

In [5]:
yearly_schedule_2022_df[yearly_schedule_2022_df["week"] == 3]

,game_id,season,game_type,week,gameday,weekday,gametime,away_team,away_score,home_team,...,wind,away_qb_id,home_qb_id,away_qb_name,home_qb_name,away_coach,home_coach,referee,stadium_id,stadium
6169,2022_03_PIT_CLE,2022,REG,3,2022-09-22,Thursday,20:15,PIT,17.0,CLE,...,NaN,00-0033869,00-0033119,Mitch Trubisky,Jacoby Brissett,Mike Tomlin,Kevin Stefanski,NaN,CLE00,FirstEnergy Stadium
6170,2022_03_NO_CAR,2022,REG,3,2022-09-25,Sunday,13:00,NO,14.0,CAR,...,NaN,00-0031503,00-0034855,Jameis Winston,Baker Mayfield,Dennis Allen,Matt Rhule,NaN,CAR00,Bank of America Stadium
6171,2022_03_HOU_CHI,2022,REG,3,2022-09-25,Sunday,13:00,HOU,20.0,CHI,...,NaN,00-0036898,00-0036945,Davis Mills,Justin Fields,Lovie Smith,Matt Eberflus,NaN,CHI98,Soldier Field
6172,2022_03_KC_IND,2022,REG,3,2022-09-25,Sunday,13:00,KC,17.0,IND,...,NaN,00-0033873,00-0026143,Patrick Mahomes,Matt Ryan,Andy Reid,Frank Reich,NaN,IND00,Lucas Oil Stadium
6173,2022_03_BUF_MIA,2022,REG,3,2022-09-25,Sunday,13:00,BUF,19.0,MIA,...,NaN,00-0034857,00-0036212,Josh Allen,Tua Tagovailoa,Sean McDermott,Mike McDaniel,NaN,MIA00,Hard Rock Stadium
6174,2022_03_DET_MIN,2022,REG,3,2022-09-25,Sunday,13:00,DET,24.0,MIN,...,NaN,00-0033106,00-0029604,Jared Goff,Kirk Cousins,Dan Campbell,Kevin O'Connell,NaN,MIN01,U.S. Bank Stadium
6175,2022_03_BAL_NE,2022,REG,3,2022-09-25,Sunday,13:00,BAL,37.0,NE,...,NaN,00-0034796,00-0036972,Lamar Jackson,Mac Jones,John Harbaugh,Bill Belichick,NaN,BOS00,Gillette Stadium
6176,2022_03_CIN_NYJ,2022,REG,3,2022-09-25,Sunday,13:00,CIN,27.0,NYJ,...,NaN,00-0036442,00-0026158,Joe Burrow,Joe Flacco,Zac Taylor,Robert Saleh,NaN,NYC01,MetLife Stadium
6177,2022_03_LV_TEN,2022,REG,3,2022-09-25,Sunday,13:00,LV,22.0,TEN,...,NaN,00-0031280,00-0029701,Derek Carr,Ryan Tannehill,Josh McDaniels,Mike Vrabel,NaN,NAS00,Nissan Stadium
6178,2022_03_PHI_WAS,2022,REG,3,2022-09-25,Sunday,13:00,PHI,24.0,WAS,...,NaN,00-0036389,00-0032950,Jalen Hurts,Carson Wentz,Nick Sirianni,Ron Rivera,NaN,WAS00,FedExField
6179,2022_03_JAX_LAC,2022,REG,3,2022-09-25,Sunday,16:05,JAX,38.0,LAC,...,NaN,00-0036971,00-0026544,Trevor Lawrence,Chase Daniel,Doug Pederson,Brandon Staley,NaN,LAX01,SoFi Stadium
6180,2022_03_LA_ARI,2022,REG,3,2022-09-25,Sunday,16:25,LA,20.0,ARI,...,NaN,00-0026498,00-0035228,Matthew Stafford,Kyler Murray,Sean McVay,Kliff Kingsbury,NaN,PHO00,State Farm Stadium
6181,2022_03_ATL_SEA,2022,REG,3,2022-09-25,Sunday,16:25,ATL,27.0,SEA,...,NaN,00-0032268,00-0030565,Marcus Mariota,Geno Smith,Arthur Smith,Pete Carroll,NaN,SEA00,Lumen Field
6182,2022_03_GB_TB,2022,REG,3,2022-09-25,Sunday,16:25,GB,14.0,TB,...,NaN,00-0023459,00-0019596,Aaron Rodgers,Tom Brady,Matt LaFleur,Todd Bowles,NaN,TAM00,Raymond James Stadium
6183,2022_03_SF_DEN,2022,REG,3,2022-09-25,Sunday,20:20,SF,10.0,DEN,...,NaN,00-0031345,00-0029263,Jimmy Garoppolo,Russell Wilson,Kyle Shanahan,Nathaniel Hackett,NaN,DEN00,Empower Field at Mile High
6184,2022_03_DAL_NYG,2022,REG,3,2022-09-26,Monday,20:15,DAL,NaN,NYG,...,NaN,00-0033662,00-0035710,Cooper Rush,Daniel Jones,Mike McCarthy,Brian Daboll,NaN,NYC01,MetLife Stadium

Data for database Games table

In [ ]:
yearly_schedule_2022_df[["game_id", "season", "game_type", "week", "gameday", "weekday", "gametime", "away_team", "home_team", "stadium"]].to_csv(r"C:\Users\Jaume\Documents\Python Projects\nfl_weekly_picks\data\processed\games_table.csv")

Getting the current NFL week number based on days

In [ ]:
import datetime

def make_current_nfl_week_number(yearly_schedule):
    """
    Function finds the current NFL week by filtering for games/weeks that are less than today's date
    :param yearly_schedule: Dataframe containing the provided years NFL schedule
    :return: Current NFL week - int
    """
    current_date = datetime.datetime.now().date()
    dates_less_than_today = yearly_schedule[yearly_schedule["gameday"] <= current_date]
    current_week = dates_less_than_today["week"].max()
    return current_week

In [ ]:
current_week = make_current_nfl_week_number(yearly_schedule_2022_df)
current_week

Getting a weeks schedule

In [ ]:
week_schedule_df_columns = ["game_id", "week", "gameday", "weekday", "gametime", "away_team", "home_team", "away_rest", "home_rest", "spread_line", "stadium"]

def make_week_schedule(yearly_schedule_df, week_number):
    """
    Function returns a dataframe containing home & away team & rest, kickoff time and day and spread
    :param week_number: NFL week number - int
    :return: Dataframe containing a weeks NFL schedule
    """
    yearly_week_schedule_df = yearly_schedule_df[yearly_schedule_df["week"] == week_number]
    week_schedule_df = yearly_week_schedule_df[week_schedule_df_columns]
    week_schedule_df.sort_values(["gameday", "gametime"], axis=0, ascending=True, inplace=True)
    return week_schedule_df

In [ ]:
week_schedule_df = make_week_schedule(yearly_schedule_2022_df, 3)
week_schedule_df

#### PIPELINE - Getting a list of gameday texts

In [ ]:
TEXT_AT_SIGN = "@"
TEXT_DASH_SIGN = "-"
TEXT_REST = "rested"
TEXT_DAYS = "days"
TEXT_SPREAD = "Spread is"
TEXT_SPACE = " "


def make_list_of_dicts_with_gameday_info(weekly_schedule):
    """
    Function creates a dictionary containing key gameday information for each weekly matchup and appends it to a list
    :param weekly_schedule: Dataframe containing a weeks NFL schedule
    :return: List containing a dictionary of each matchup
    """
    game_info_list_of_dicts = list()
    game_info_dict = dict()
    for index, row in week_schedule_df.iterrows():
        game_info_dict["game_id"] = row["game_id"]
        game_info_dict["away_team"] = row["away_team"]
        game_info_dict["home_team"] = row["home_team"]
        game_info_dict["weekday"] = row["weekday"]
        game_info_dict["gametime"] = row["gametime"]
        game_info_dict["stadium"] = row["stadium"]
        game_info_dict["away_rest"] = row["away_rest"]
        game_info_dict["home_rest"] = row["home_rest"]
        game_info_dict["spread_line"] = row["spread_line"]
        game_info_list_of_dicts.append(game_info_dict.copy())
    return game_info_list_of_dicts


def make_matchup_texts(game_info):
    """
    Function makes the Away vs Home text, Gameday/Time/Place text and Away/Home Rest and Spread text
    :param game_info: Dictionary containing gameday information text
    :return: three text strings
    """
    game_id = game_info["game_id"]
    away_vs_home_text = game_info["away_team"] + TEXT_SPACE + TEXT_AT_SIGN + TEXT_SPACE + game_info["home_team"]
    game_day_time_place_text = game_info["weekday"] + TEXT_SPACE + TEXT_DASH_SIGN + TEXT_SPACE + game_info["gametime"] + TEXT_SPACE + "ET" + TEXT_SPACE + TEXT_AT_SIGN + TEXT_SPACE + game_info["stadium"]
    away_home_rest_and_spread_text = game_info["away_team"] + TEXT_SPACE + TEXT_REST + TEXT_SPACE + str(game_info["away_rest"]) + TEXT_SPACE + TEXT_DAYS + TEXT_SPACE + TEXT_DASH_SIGN + TEXT_SPACE + game_info["home_team"] + TEXT_SPACE + TEXT_REST + TEXT_SPACE + str(game_info["home_rest"]) + TEXT_SPACE + TEXT_DAYS + TEXT_SPACE + TEXT_DASH_SIGN + TEXT_SPACE + TEXT_SPREAD + TEXT_SPACE + str(game_info["spread_line"])
    return game_id, away_vs_home_text, game_day_time_place_text, away_home_rest_and_spread_text


def make_single_matchup_list(game_id, away_vs_home_text, game_day_time_place_text, away_home_rest_and_spread_text):
    """
    Function appends the three texts into a single matchup list
    :param away_vs_home_text: Away vs Home text
    :param game_day_time_place_text: Gameday/Time/Place text
    :param away_home_rest_and_spread_text: Away/Home Rest and Spread text
    :return: List holding all three texts
    """
    away_vs_home_list = list()
    game_day_time_place_list = list()
    away_home_rest_and_spread_list = list()
    away_vs_home_list.append(away_vs_home_text)
    game_day_time_place_list.append(game_day_time_place_text)
    away_home_rest_and_spread_list.append(away_home_rest_and_spread_text)
    single_matchup_list = [game_id] + away_vs_home_list + game_day_time_place_list + away_home_rest_and_spread_list
    away_vs_home_list = list()
    game_day_time_place_list = list()
    away_home_rest_and_spread_list = list()
    return single_matchup_list


def make_list_of_matchups_list(game_info_list_of_dicts):
    """
    Function outputs a lists of lists containing gameday text information for each matchup
    :param game_info_list_of_dicts: List containing a dictionary of each matchup
    :return: Lists of lists containing gameday text information for each matchup
    """
    all_matchup_list = list()
    for i in range(len(game_info_list_of_dicts)):
        game_id, away_vs_home_text, game_day_time_place_text, away_home_rest_and_spread_text = make_matchup_texts(game_info_list_of_dicts[i])
        single_matchup_list = make_single_matchup_list(game_id, away_vs_home_text, game_day_time_place_text, away_home_rest_and_spread_text)
        all_matchup_list.append(single_matchup_list)
    return all_matchup_list


def pipeline_make_matchup_text_lists(weekly_schedule):
    """
    Function pipelines the process required to output a lists of lists containing gameday text information for each matchup
    :param weekly_schedule: Dataframe containing a weeks NFL schedule
    :return: Lists of lists containing gameday text information for each matchup
    """
    game_info_list_of_dicts = make_list_of_dicts_with_gameday_info(weekly_schedule)
    all_matchup_list = make_list_of_matchups_list(game_info_list_of_dicts)
    return all_matchup_list

In [ ]:
all_matchup_list = pipeline_make_matchup_text_lists(week_schedule_df)
all_matchup_list

Making Image Path

In [ ]:
from PIL import Image


TEAM_LOGO_LOCATIONS_DF = pd.read_csv("../data/processed/team_logo_file_locations.csv")


def make_team_logo_image(team_acronym):
    """
    Function creates and Pillow image object from a specified file path loaded up from a dataframe
    :param team_acronym:
    :return:
    """
    image_location = TEAM_LOGO_LOCATIONS_DF[TEAM_LOGO_LOCATIONS_DF["team"] == team_acronym]["picture_location"].iloc[0]
    logo = Image.open(image_location)
    return logo

In [ ]:
make_team_logo_image("IND")

Showing Submit Button when Selection Count = Length of Games

In [ ]:
# testing logic

weekly_picks_dict = dict()

def add_values_in_dict(dictionary, key, list_of_values):
    """
    Function checks if key is present in the dictionary, if not, it creates key and extends the dictionary with list of value provided
    :param dictionary:
    :param key:
    :param list_of_values:
    :return:
    """
    if key not in dictionary:
        dictionary[key] = list()
    dictionary[key].extend(list_of_values)
    return dictionary

In [ ]:
for _ in range(len(all_matchup_list)):
    game_id = all_matchup_list[_][0]
    away_team = all_matchup_list[_][1].split(" @ ")[0]
    home_team = all_matchup_list[_][1].split(" @ ")[1]
    add_values_in_dict(weekly_picks_dict, game_id, [home_team])

In [ ]:
weekly_picks_dict

##### Inserting Users Weekly Picks into Picks Table

In [ ]:
def make_weekly_picks_df(weekly_picks_dict, user_id):
    """
    Function creates a dataframe containing user_id and the users respective weekly matchup winning picks
    :param weekly_picks_dict: Dictionary containing game_id as a key and the winning pick as a value
    :param user_id: ID of user
    :return: Dataframe containing user id and weekly winning picks
    """
    weekly_picks_df = pd.DataFrame(weekly_picks_dict).T.reset_index()
    weekly_picks_df.columns = ["game_id", "winning_pick"]
    weekly_picks_df["user_id"] = user_id
    weekly_picks_df["user_id_game_id"] = weekly_picks_df["user_id"].astype(str) + "_" + weekly_picks_df["game_id"]
    return weekly_picks_df

In [ ]:
user_id = 3

weekly_picks_df = make_weekly_picks_df(weekly_picks_dict, user_id)
weekly_picks_df

In [11]:
import psycopg2
from psycopg2 import Error


USER = "postgres"
PASSWORD = "Barca2011"
DATABASE = "nfl_weekly_picks"
HOST = "localhost"


def connect_to_postgres_database(user, password, database, host="127.0.0.1", port="5432"):
    """
    Function connects to a database and returns the cursor object
    :param user: database username
    :param password: database password
    :param database: database name
    :param host: server location
    :param port: listening port
    :return: psycopg2 cursor object
    """
    try:
        con = psycopg2.connect(user=user,
                               password=password,
                               database=database,
                               host=host,
                               port=port)
        cursor = con.cursor()
    except (Exception, Error) as error:
        print("Error while connecting to PostgreSQL", error)
    return con, cursor


def cursor_execute_tuple(command, data_tuple):
    """
    Function uses the cursor object to execute a command with a tuple pair. It commits and rollsback if error
    :param command: SQL query to be executed
    :param data_tuple: data pairing for SQL query variables
    :return:
    """
    try:
        cursor.execute(command, data_tuple)
        con.commit()
        print("Successfully executed the command")
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        con.rollback()
        print("Could not successfully execute the command")
    return None

In [12]:
con, cursor = connect_to_postgres_database(USER, PASSWORD, DATABASE, HOST, port="5432")

Pipeline - Weekly Picks DF to Weekly Picks Table

In [13]:
from sqlalchemy import create_engine


def make_current_picks_df(user_id):
    """
    Function queries the winning_picks table and returns a Pandas DataFrame for the specified users data
    :param user_id: user_id key
    :return: Dataframe
    """
    engine = create_engine("postgresql+psycopg2://" + USER + ":" + PASSWORD + "@" + HOST + "/" + DATABASE)
    query = """
         SELECT user_id, game_id, winning_pick
         FROM winning_picks
         WHERE user_id=%(user_id)s
         ;
         """
    current_picks_df = pd.read_sql_query(query, con=engine, params={"user_id": user_id})
    return current_picks_df


def make_insert_into_weekly_picks_table(user_id_game_id, user_id, game_id, winning_pick, timestamp):
    """
    Function inserts the weekly_picks_df into the weekly_picks table. It uses the INSERT INTO along with the ON CONFLICT DO UPDATE SET clause in order to update the winning_picks field when the user_id_game_id is already in that table
    :param user_id_game_id: user_id and game_id key
    :param user_id: user_id key
    :param game_id: game_id key
    :param winning_pick: winning team pick
    :param timestamp: datetime
    :return: None
    """
    query = """
                 INSERT INTO winning_picks (user_id_game_id, user_id, game_id, winning_pick, timestamp_added)
                 VALUES (%s, %s, %s, %s, %s)
                 ON CONFLICT (user_id_game_id) DO UPDATE SET
                 (user_id, game_id, winning_pick, timestamp_added) = (EXCLUDED.user_id, EXCLUDED.game_id, EXCLUDED.winning_pick, EXCLUDED.timestamp_added);
            """
    data_tuple = (user_id_game_id, user_id, game_id, winning_pick, timestamp)
    cursor_execute_tuple(query, data_tuple)
    return None


def make_logical_insert_into_weekly_picks_table(weekly_picks_df):
    """
    Function holds the logic used to insert matchups when they don't exist and update them when they differ from their current value
    :param weekly_picks_df: Dataframe containing user id and weekly winning picks
    :return:
    """
    current_picks_df = make_current_picks_df(user_id)
    timestamp = datetime.datetime.now()
    for index, row in weekly_picks_df.iterrows():
        temp_df = current_picks_df[current_picks_df["game_id"] == row["game_id"]]
        if len(temp_df) == 0: # If not game_id record exists then upload matchup
            make_insert_into_weekly_picks_table(row["user_id_game_id"], row["user_id"], row["game_id"], row["winning_pick"], timestamp)
        elif temp_df["winning_pick"].iloc[0] == row["winning_pick"]: # If game_id exists and winning pick is unchanged then pass
            pass
        elif temp_df["winning_pick"].iloc[0] != row["winning_pick"]: # If game_id exists and winning pick is different then upload matchup
            make_insert_into_weekly_picks_table(row["user_id_game_id"], row["user_id"], row["game_id"], row["winning_pick"], timestamp)
    return None


def pipeline_make_insert_into_weekly_picks_table(weekly_picks_dict, user_id):
    """
    Function pipelines the process required to insert the weekly_picks_df into the weekly_picks table
    :param weekly_picks_dict: Dictionary containing game_id as a key and the winning pick as a value
    :param user_id: ID of user
    """
    weekly_picks_df = make_weekly_picks_df(weekly_picks_dict, user_id)
    make_insert_into_weekly_picks_table(weekly_picks_df)
    return None

In [ ]:
pipeline_make_insert_into_weekly_picks_table(weekly_picks_dict, user_id)

#### Matchup Countdown

In [ ]:
week_schedule_df = make_week_schedule(yearly_schedule_2022_df, 3)
week_schedule_df

In [ ]:
def make_gamedaytime_timedelta(week_schedule_df, game_id):
    """
    Function makes a timestamp from a game_id
    :param week_schedule_df: Dataframe containing a weeks NFL schedule
    :param game_id: game_id key
    :return: Timestamp
    """
    gametime_df = week_schedule_df[["game_id", "gameday", "gametime", "weekday"]]
    gametime_df["gamedaytime"] = gametime_df["gameday"].astype(str) + " " + gametime_df["gametime"]
    gametime_df["gamedaytime"] = pd.to_datetime(gametime_df["gamedaytime"])
    timestamp = gametime_df[gametime_df["game_id"] == game_id]["gamedaytime"].iloc[0]
    return timestamp

In [ ]:
timestamp = make_gamedaytime_timedelta(week_schedule_df, "2022_03_NO_CAR")
timestamp

In [ ]:
def make_time_to_game(timestamp):
    """
    Function finds the difference between two times
    :param timestamp: Timestamp object
    :return: Timedelta difference between now and gametime
    """
    time_now = datetime.datetime.now()
    timedelta_difference = timestamp - time_now
    return timedelta_difference

In [ ]:
timedelta_difference = make_time_to_game(timestamp)
timedelta_difference

In [ ]:
def make_days_hours_minutes(timedelta):
    """
    Function returns a tuple containing the days, hours and minutes from a Timedelta object
    :param timedelta: Timedelta object
    :return: dtuple containing the days, hours and minutes
    """
    days = timedelta.days
    hours = timedelta.seconds//3600
    minutes = (timedelta.seconds//60)%60
    if days < 0:
        days = 0
        hours = 0
        minutes = 0
        return days, hours, minutes
    return days, hours, minutes

In [ ]:
days, hours, minutes = make_days_hours_minutes(timedelta_difference)
days, hours, minutes

In [ ]:
def make_countdown_text(days, hours, minutes):
    """
    Function creates the text output to be displayed during the countdown
    :param days: Int - days left
    :param hours: Int - hours left
    :param minutes: Int - minutes left
    :return: Countdown text
    """
    days_text = "{} days".format(days)
    hours_text = "{} hours".format(hours)
    minutes_text = "{} minutes".format(minutes)
    countdown_text = days_text + " : " + hours_text + " : " + minutes_text + " to make your picks..."
    return countdown_text

In [ ]:
countdown_text = make_countdown_text(days, hours, minutes)

In [ ]:
import pytz


def make_gamedaytime_timedelta(week_schedule_df, game_id):
    """
    Function makes a timestamp from a game_id
    :param week_schedule_df: Dataframe containing a weeks NFL schedule
    :param game_id: game_id key
    :return: Timestamp
    """
    gametime_df = week_schedule_df[["game_id", "gameday", "gametime", "weekday"]]
    gametime_df["gamedaytime"] = gametime_df["gameday"].astype(str) + " " + gametime_df["gametime"]
    gametime_df["gamedaytime"] = pd.to_datetime(gametime_df["gamedaytime"])
    timestamp = gametime_df[gametime_df["game_id"] == game_id]["gamedaytime"].iloc[0]
    return timestamp


def make_time_to_game(timestamp):
    """
    Function finds the difference between two times
    :param timestamp: Timestamp object
    :return: Timedelta difference between now and gametime
    """
    tz = pytz.timezone('US/Eastern')
    time_now = datetime.datetime.now(tz=tz).replace(tzinfo=None)
    timedelta_difference = timestamp - time_now
    return timedelta_difference


def make_days_hours_minutes(timedelta):
    """
    Function returns a tuple containing the days, hours and minutes from a Timedelta object
    :param timedelta: Timedelta object
    :return: dtuple containing the days, hours and minutes
    """
    days = timedelta.days
    hours = timedelta.seconds//3600
    minutes = (timedelta.seconds//60)%60
    if days < 0:
        days = 0
        hours = 0
        minutes = 0
        return days, hours, minutes
    return days, hours, minutes


def make_countdown_text(days, hours, minutes):
    """
    Function creates the text output to be displayed during the countdown
    :param days: Int - days left
    :param hours: Int - hours left
    :param minutes: Int - minutes left
    :return: Countdown text
    """
    if days == 0 and hours == 0 and minutes == 0:
        countdown_text = "Game has started - You can't make a pick post-kickoff"
    else:
        if days == 1:
            day_var = "day"
        else:
            day_var = "days"
        if hours == 1:
            hour_var = "hour"
        else:
            hour_var = "hours"
        if minutes == 1:
            minute_var = "minute"
        else:
            minute_var = "minutes"
        days_text = "{} {}".format(days, day_var)
        hours_text = "{} {}".format(hours, hour_var)
        minutes_text = "{} {}".format(minutes, minute_var)
        countdown_text = days_text + " : " + hours_text + " : " + minutes_text + " to make your picks..."
    return countdown_text


def pipeline_make_countdown_text(week_schedule_df, game_id):
    """
    Function pipelines the process required to output the countdown text for a game
    :param week_schedule_df: Dataframe containing a weeks NFL schedule
    :param game_id: game_id key
    :return: Countdown text
    """
    game_timestamp = make_gamedaytime_timedelta(week_schedule_df, game_id)
    timedelta_difference = make_time_to_game(game_timestamp)
    days, hours, minutes = make_days_hours_minutes(timedelta_difference)
    countdown_text = make_countdown_text(days, hours, minutes)
    return days, hours, minutes, countdown_text

In [ ]:
# gameid = "2022_03_PIT_CLE"
gameid = "2022_03_NO_CAR"

countdown_text = pipeline_make_countdown_text(week_schedule_df, gameid)[3]
countdown_text

### Getting Winning Games
This section will live in the Learderboard page

In [6]:
def make_nfl_game_scores_df():
    """
    Function makes a dataframe containing key data for NFL games which have been played
    :return: Pandas DataFrame
    """
    yearly_schedule_2022_df = make_yearly_schedule(2022)
    games_with_scores_df = yearly_schedule_2022_df[(yearly_schedule_2022_df["away_score"].notna()) & (yearly_schedule_2022_df["home_score"].notna())]
    games_with_scores_df = games_with_scores_df[["game_id", "week", "away_team", "away_score", "home_team", "home_score"]]
    return games_with_scores_df

In [7]:
games_with_scores_df = make_nfl_game_scores_df()
games_with_scores_df

              game_id  week away_team  away_score home_team  home_score
6137   2022_01_BUF_LA     1       BUF        31.0        LA        10.0
6138   2022_01_NO_ATL     1        NO        27.0       ATL        26.0
6139  2022_01_CLE_CAR     1       CLE        26.0       CAR        24.0
6140   2022_01_SF_CHI     1        SF        10.0       CHI        19.0
6141  2022_01_PIT_CIN     1       PIT        23.0       CIN        20.0
6142  2022_01_PHI_DET     1       PHI        38.0       DET        35.0
6143  2022_01_IND_HOU     1       IND        20.0       HOU        20.0
6144   2022_01_NE_MIA     1        NE         7.0       MIA        20.0
6145  2022_01_BAL_NYJ     1       BAL        24.0       NYJ         9.0
6146  2022_01_JAX_WAS     1       JAX        22.0       WAS        28.0
6147   2022_01_KC_ARI     1        KC        44.0       ARI        21.0
6148   2022_01_LV_LAC     1        LV        19.0       LAC        24.0
6149   2022_01_GB_MIN     1        GB         7.0       MIN        23.0
6150  2022_01_NYG_TEN     1       NYG        21.0       TEN        20.0
6151   2022_01_TB_DAL     1        TB        19.0       DAL         3.0
6152  2022_01_DEN_SEA     1       DEN        16.0       SEA        17.0
6153   2022_02_LAC_KC     2       LAC        24.0        KC        27.0
6154  2022_02_MIA_BAL     2       MIA        42.0       BAL        38.0
6155  2022_02_NYJ_CLE     2       NYJ        31.0       CLE        30.0
6156  2022_02_WAS_DET     2       WAS        27.0       DET        36.0
6157  2022_02_IND_JAX     2       IND         0.0       JAX        24.0
6158    2022_02_TB_NO     2        TB        20.0        NO        10.0
6159  2022_02_CAR_NYG     2       CAR        16.0       NYG        19.0
6160   2022_02_NE_PIT     2        NE        17.0       PIT        14.0
6161   2022_02_ATL_LA     2       ATL        27.0        LA        31.0
6162   2022_02_SEA_SF     2       SEA         7.0        SF        27.0
6163  2022_02_CIN_DAL     2       CIN        17.0       DAL        20.0
6164  2022_02_HOU_DEN     2       HOU         9.0       DEN        16.0
6165   2022_02_ARI_LV     2       ARI        29.0        LV        23.0
6166   2022_02_CHI_GB     2       CHI        10.0        GB        27.0
6167  2022_02_TEN_BUF     2       TEN         7.0       BUF        41.0
6168  2022_02_MIN_PHI     2       MIN         7.0       PHI        24.0
6169  2022_03_PIT_CLE     3       PIT        17.0       CLE        29.0
6170   2022_03_NO_CAR     3        NO        14.0       CAR        22.0
6171  2022_03_HOU_CHI     3       HOU        20.0       CHI        23.0
6172   2022_03_KC_IND     3        KC        17.0       IND        20.0
6173  2022_03_BUF_MIA     3       BUF        19.0       MIA        21.0
6174  2022_03_DET_MIN     3       DET        24.0       MIN        28.0
6175   2022_03_BAL_NE     3       BAL        37.0        NE        26.0
6176  2022_03_CIN_NYJ     3       CIN        27.0       NYJ        12.0
6177   2022_03_LV_TEN     3        LV        22.0       TEN        24.0
6178  2022_03_PHI_WAS     3       PHI        24.0       WAS         8.0
6179  2022_03_JAX_LAC     3       JAX        38.0       LAC        10.0
6180   2022_03_LA_ARI     3        LA        20.0       ARI        12.0
6181  2022_03_ATL_SEA     3       ATL        27.0       SEA        23.0
6182    2022_03_GB_TB     3        GB        14.0        TB        12.0
6183   2022_03_SF_DEN     3        SF        10.0       DEN        11.0

In [8]:
def make_insert_into_nfl_game_scores_2022_table(game_id, week, away_team, away_score, home_team, home_score):
    """
    Function inserts the a game_id and its features into the nfl_game_scores_2022 table
    :param game_id: game id key
    :param week: int - week number
    :param away_team: game away team
    :param away_score: game away score
    :param home_team: game home team
    :param home_score: game away score
    :return: None
    """
    query = """
                 INSERT INTO nfl_game_scores_2022 (game_id, week, away_team, away_score, home_team, home_score)
                 VALUES (%s, %s, %s, %s, %s, %s)
                 ;
            """
    data_tuple = (game_id, week, away_team, away_score, home_team, home_score)
    cursor_execute_tuple(query, data_tuple)
    return None

In [ ]:
for index, row in games_with_scores_df.iterrows():
    make_insert_into_nfl_game_scores_2022_table(row["game_id"], row["week"], row["away_team"], row["away_score"], row["home_team"], row["home_score"])

In [9]:
def pipeline_make_insert_into_nfl_game_scores_2022_table():
    """
    Function pipelines the process required to add a game_id along with relevant data to the nfl_game_scores_2022 table
    :return: None
    """
    games_with_scores_df = make_nfl_game_scores_df()
    for index, row in games_with_scores_df.iterrows():
        make_insert_into_nfl_game_scores_2022_table(row["game_id"], row["week"], row["away_team"], row["away_score"], row["home_team"], row["home_score"])
    return None

In [14]:
pipeline_make_insert_into_nfl_game_scores_2022_table()

Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_01_BUF_LA) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_01_NO_ATL) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_01_CLE_CAR) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_01_SF_CHI) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_01_PIT_CIN) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_01_PHI_DET) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_01_IND_HOU) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_01_NE_MIA) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_01_BAL_NYJ) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_01_JAX_WAS) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_01_KC_ARI) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_01_LV_LAC) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_01_GB_MIN) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_01_NYG_TEN) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_01_TB_DAL) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_01_DEN_SEA) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_02_LAC_KC) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_02_MIA_BAL) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_02_NYJ_CLE) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_02_WAS_DET) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_02_IND_JAX) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_02_TB_NO) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_02_CAR_NYG) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_02_NE_PIT) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_02_ATL_LA) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_02_SEA_SF) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_02_CIN_DAL) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_02_HOU_DEN) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_02_ARI_LV) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_02_CHI_GB) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_02_TEN_BUF) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_02_MIN_PHI) already exists.

Could not successfully execute the command
Error: duplicate key value violates unique constraint "nfl_game_scores_2022_pk"
DETAIL:  Key (game_id)=(2022_03_PIT_CLE) already exists.

Could not successfully execute the command
Successfully executed the command
Successfully executed the command
Successfully executed the command
Successfully executed the command
Successfully executed the command
Successfully executed the command
Successfully executed the command
Successfully executed the command
Successfully executed the command
Successfully executed the command
Successfully executed the command
Successfully executed the command
Successfully executed the command
Successfully executed the command

In [17]:
def make_database_games_with_scores_df():
    """
    Function queries the nfl_game_scores_2022 table and returns a Pandas DataFrame
    :return: Dataframe
    """
    engine = create_engine("postgresql+psycopg2://" + USER + ":" + PASSWORD + "@" + HOST + "/" + DATABASE)
    query = """
         SELECT week, away_team, away_score, home_team, home_score
         FROM nfl_game_scores_2022
         ;
         """
    database_games_with_scores_df = pd.read_sql_query(query, con=engine)
    return database_games_with_scores_df

In [18]:
make_database_games_with_scores_df()

    week away_team  away_score home_team  home_score
0      3        NO          14       CAR          22
1      3       HOU          20       CHI          23
2      3        KC          17       IND          20
3      3       BUF          19       MIA          21
4      3       DET          24       MIN          28
5      3       BAL          37        NE          26
6      3       CIN          27       NYJ          12
7      3        LV          22       TEN          24
8      3       PHI          24       WAS           8
9      3       JAX          38       LAC          10
10     3        LA          20       ARI          12
11     3       ATL          27       SEA          23
12     3        GB          14        TB          12
13     3        SF          10       DEN          11
14     1       BUF          31        LA          10
15     1        NO          27       ATL          26
16     1       CLE          26       CAR          24
17     1        SF          10       CHI          19
18     1       PIT          23       CIN          20
19     1       PHI          38       DET          35
20     1       IND          20       HOU          20
21     1        NE           7       MIA          20
22     1       BAL          24       NYJ           9
23     1       JAX          22       WAS          28
24     1        KC          44       ARI          21
25     1        LV          19       LAC          24
26     1        GB           7       MIN          23
27     1       NYG          21       TEN          20
28     1        TB          19       DAL           3
29     1       DEN          16       SEA          17
30     2       LAC          24        KC          27
31     2       MIA          42       BAL          38
32     2       NYJ          31       CLE          30
33     2       WAS          27       DET          36
34     2       IND           0       JAX          24
35     2        TB          20        NO          10
36     2       CAR          16       NYG          19
37     2        NE          17       PIT          14
38     2       ATL          27        LA          31
39     2       SEA           7        SF          27
40     2       CIN          17       DAL          20
41     2       HOU           9       DEN          16
42     2       ARI          29        LV          23
43     2       CHI          10        GB          27
44     2       TEN           7       BUF          41
45     2       MIN           7       PHI          24
46     3       PIT          17       CLE          29

### Finding Correct User/Weekly Picks

In [ ]:
def make_games_with_scores_df():
    """
    Function creates a dataframe with a users chosen games and a flag for correct matchup pick
    :param user_id: user id key
    :return: Dataframe
    """
    engine = create_engine("postgresql+psycopg2://" + USER + ":" + PASSWORD + "@" + HOST + "/" + DATABASE)
    query = """
        WITH nfl_game_scores_2022 AS (
            SELECT week, game_id,
                CASE
                    WHEN away_score > home_score THEN away_team
                    WHEN away_score < home_score THEN home_team
                END AS winning_team
            FROM nfl_game_scores_2022
        ),
            user_weekly_picks AS (
            SELECT user_id_game_id, user_id, game_id, winning_pick
            FROM user_weekly_picks
        ),
            left_join_above AS (
            SELECT usr.user_id_game_id, usr.user_id, nfl.game_id, nfl.week,
                CASE
                    WHEN usr.winning_pick = nfl.winning_team THEN 1
                    WHEN usr.winning_pick != nfl.winning_team THEN 0
                END AS correct_pick_flag
            FROM nfl_game_scores_2022 nfl
            LEFT JOIN user_weekly_picks usr
                ON nfl.game_id = usr.game_id
            WHERE usr.user_id_game_id IS NOT NULL
        )
         SELECT * FROM left_join_above ;
         """
    database_games_with_scores_df = pd.read_sql_query(query, con=engine)
    return database_games_with_scores_df

In [ ]:
database_games_with_scores_df = make_games_with_scores_df()
database_games_with_scores_df

In [ ]:
def make_insert_into_user_winning_picks_table(user_id_game_id, user_id, game_id, week, correct_pick_flag):
    """
    Function inserts picks into the winning picks table
    :param user_id_game_id: user and game id key
    :param user_id: user_id key
    :param game_is:  game_id key
    :param week: int - week
    :param correct_pick_flag: boolean (1, 0)
    :return: None
    """
    query = """
                 INSERT INTO user_winning_picks (user_id_game_id, user_id, game_id, week, correct_pick_flag)
                 VALUES (%s, %s, %s, %s, %s)
                 ;
            """
    data_tuple = (user_id_game_id, user_id, game_id, week, correct_pick_flag)
    cursor_execute_tuple(query, data_tuple)
    return None

In [ ]:
for index, row in database_games_with_scores_df.iterrows():
    make_insert_into_user_winning_picks_table(row["user_id_game_id"], row["user_id"], row["game_id"], row["week"], row["correct_pick_flag"])

In [ ]:
def pipeline_make_insert_into_user_winning_picks_table():
    """
    Function pipelines the process required to insert picks into the winning picks table
    :return: None
    """
    database_games_with_scores_df = make_games_with_scores_df()
    for index, row in database_games_with_scores_df.iterrows():
        make_insert_into_user_winning_picks_table(row["user_id_game_id"], row["user_id"], row["game_id"], row["week"], row["correct_pick_flag"])
    return database_games_with_scores_df

In [ ]:
pipeline_make_insert_into_user_winning_picks_table()

#### Tabs and Weeks

In [ ]:
nfl_games_with_scored_df = make_database_games_with_scores_df()
nfl_games_with_scored_df

In [ ]:
def make_tab_names(nfl_games_with_scored_df):
    """
    Function makes a list holding NFL Week numbers which have a score against them in the database
    :param nfl_games_with_scored_df: Dataframe with games having a final score
    :return: Pandas Dataframe
    """
    weeks_with_scores = sorted(list(nfl_games_with_scored_df["week"].unique()), reverse=False)
    tab_name_list = ["Week " + week.astype(str) for week in weeks_with_scores]
    return tab_name_list

In [ ]:
tab_name_list = make_tab_names(nfl_games_with_scored_df)
tab_name_list

In [15]:
def make_games_with_scores_df():
    """
    Function creates a dataframe with a users chosen games and a flag for correct matchup pick
    :param user_id: user id key
    :return: Dataframe
    """
    engine = create_engine("postgresql+psycopg2://" + USER + ":" + PASSWORD + "@" + HOST + "/" + DATABASE)
    query = """
        WITH nfl_game_scores_2022 AS (
            SELECT week, game_id,
                CASE
                    WHEN away_score > home_score THEN away_team
                    WHEN away_score < home_score THEN home_team
                    WHEN away_score = home_score THEN 'TIE'
                END AS winning_team
            FROM nfl_game_scores_2022
        ),
            user_weekly_picks AS (
            SELECT user_id_game_id, user_id, game_id, winning_pick
            FROM user_weekly_picks
        ),
            left_join_above AS (
            SELECT usr.user_id_game_id, usr.user_id, nfl.game_id, nfl.week,
                CASE
                    WHEN usr.winning_pick = nfl.winning_team THEN 1
                    WHEN usr.winning_pick != nfl.winning_team THEN 0
                END AS correct_pick_flag
            FROM nfl_game_scores_2022 nfl
            LEFT JOIN user_weekly_picks usr
                ON nfl.game_id = usr.game_id
            WHERE usr.user_id_game_id IS NOT NULL
        )
         SELECT * FROM left_join_above ;
         """
    database_games_with_scores_df = pd.read_sql_query(query, con=engine)
    return database_games_with_scores_df

In [16]:
make_games_with_scores_df()

      user_id_game_id  user_id          game_id  week  correct_pick_flag
0   7_2022_01_BAL_NYJ        7  2022_01_BAL_NYJ     1                  1
1    7_2022_01_BUF_LA        7   2022_01_BUF_LA     1                  1
2   7_2022_01_CLE_CAR        7  2022_01_CLE_CAR     1                  1
3   7_2022_01_DEN_SEA        7  2022_01_DEN_SEA     1                  0
4    7_2022_01_GB_MIN        7   2022_01_GB_MIN     1                  0
..                ...      ...              ...   ...                ...
61   8_2022_01_LV_LAC        8   2022_01_LV_LAC     1                  1
62  8_2022_02_HOU_DEN        8  2022_02_HOU_DEN     2                  1
63   8_2022_01_KC_ARI        8   2022_01_KC_ARI     1                  0
64  8_2022_02_MIN_PHI        8  2022_02_MIN_PHI     2                  0
65   8_2022_01_SF_CHI        8   2022_01_SF_CHI     1                  0

[66 rows x 5 columns]